<!DOCTYPE html>
<html>
<head>
	<script src="script.js"></script>
</head>

<body>
    <button onclick="loadXMLDoc();"> Generar reporte</button>
    <div id="myDiv"></div> 
    <table style="width:100%">
        <tr>
          <th>Fecha</th>
          <th>Imagen Base</th> 
          <th>Imagen Modificada</th>
          <th>Diferencias</th>
          <th>Información Importante</th>
        </tr>
        <tr>
          <td id="tdFecha">2018-03-10</td>
          <td><img src="/images/1.png" alt="Imagen Base" width="512"></td> 
          <td><img src="/images/2.png" alt="Imagen Modificada" width="512"></td> 
          <td><img src="/images/comp.png" alt="Diferencias" width="512"></td> 
          <td id="tdInfo">{}</td>
        </tr>
      </table>
</body>
</html>
